 @import './colors';


 html {
   font-family: 'Bai Jamjuree', sans-serif;
   background-image: url(../images/bg-header-desktop.png);
   background-repeat: no-repeat;
 }

 .container {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 800px;
   margin: auto;
   padding: 20px 40px;

   img {
     width: 80px;
     height: 80px;
     padding: 20px 20px;
   }

   h1 {
     color: $blackgray-color;
   }

   p {
     color: $gray-color;
     width: 580px;
     text-align: center;
     margin-top: -8px;
   }

   .card-button {
     display: flex;
     gap: 25px;
     margin-top: 25px;

     .btn1 {
       width: 200px;
       height: 40px;
       text-align: center;
       border-radius: 20px;
       border: none;
       background-color: $green-color;
       color: $whitte-color;
       font-weight: bold;
       cursor: pointer;
       transition: 0.8s ease-in-out;

       &:hover {
        background-color: hsl(171, 91%, 63%);
       }
     }

     .btn2 {
       width: 200px;
       height: 40px;
       text-align: center;
       border-radius: 20px;
       border: none;
       background-color: $blueviolet-color;
       color: $whitte-color;
       font-weight: bold;
       cursor: pointer;
       transition: 0.8s ease-in-out;

       &:hover {
        background-color: hsl(234, 90%, 74%);
       }
     }
   }

 }

 .container-mac {
   h2 {
     text-align: center;
     color: $blackgray-color;
     margin-top: 60px;
   }

   p {
     text-align: center;
     margin: auto;
   }

   img {
     width: 350px;
     height: 280px;
   }

   .container-info {
     display: flex;
     gap: 80px;
     margin: 50px 50px;

     h4 {
       color: $blackgray-color;
     }

     p {
       width: 300px;
       text-align: left;
     }
   }
 }

 .card-devices {
   p {
     margin-bottom: 60px;
   }

   img {
     width: 500px;
     height: 300px;
     padding-left: 170px;
   }
 }

 .box-container {
   display: flex;
   gap: 50px;
 }

 .boxers-card,
 .boxers-card2,
 .boxers-card3 {
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;

   img {
     width: 50px;
     height: 38px;
     margin-right: auto;
     margin-left: auto;
   }

   p {
     margin-bottom: 40px;
   }

   h5 {
     text-align: center;
     font-size: 18px;
     color: $blackgray-color;
     margin-top: 5px;
   }

   .text1 {
     width: 290px;
     margin-top: -10px;
     margin-bottom: 90px;
     text-align: center;
   }
 }

 .cards-images {
   display: flex;
   justify-content: center;
   gap: 30px;

   img {
     width: 120px;
     height: 40px;
     margin-bottom: 65px;
   }
 }

 .container-clipboard {
   h2 {
     color: $blackgray-color;
     text-align: center;
     margin: 45px 45px;
   }

   .card-button {
     display: flex;
     justify-content: center;
   }
 }

 .card-footer {
   display: flex;
   align-items: flex-end;
   background-color: rgb(240, 237, 237);
   width: 98.8vw;
   height: 150px;
   position: relative;
   top: 50px;

   img {
     width: 50px;
     height: 50px;
     padding: 40px;
     margin-left: auto;
   }

   .box-info {
     display: flex;
     gap: 50px;
     margin-bottom: 30px;
     margin-left: 75px;

     .box-1 {
       display: flex;
       flex-direction: column;

       span {
         text-align: left;
         padding: 5px;
         color: $blackgray-color;
         cursor: pointer;

         &:hover {
          color: $green-color;
         }
       }
     }

     .box-2 {
       display: flex;
       flex-direction: column;

       span {
         text-align: left;
         padding: 5px;
         color: $blackgray-color;
         cursor: pointer;

         &:hover {
          color: $green-color;
         }
       }
     }

     .box-3 {
       display: flex;
       flex-direction: column;

       span {
         text-align: left;
         padding: 5px;
         color: $blackgray-color;
         cursor: pointer;

         &:hover {
          color: $green-color;
         }
       }
     }
   }

   .card-logos {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    cursor: pointer;

    img {
      width: 25px;
      height: 25px;
      padding: 12px;
      transition: 0.2s ease-in-out;
      filter: hue-rotate(0deg);
    }     
  }
}