html {
  font-family: "Bai Jamjuree", sans-serif;
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin: auto;
  padding: 20px 40px;
}
.container img {
  width: 80px;
  height: 80px;
  padding: 20px 20px;
}
.container h1 {
  color: hsl(210, 10%, 33%);
}
.container p {
  color: hsl(201, 11%, 66%);
  width: 580px;
  text-align: center;
  margin-top: -8px;
}
.container .card-button {
  display: flex;
  gap: 25px;
  margin-top: 25px;
}
.container .card-button .btn1 {
  width: 200px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  border: none;
  background-color: hsl(171, 66%, 44%);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.8s ease-in-out;
}
.container .card-button .btn1:hover {
  background-color: hsl(171, 91%, 63%);
}
.container .card-button .btn2 {
  width: 200px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  border: none;
  background-color: hsl(233, 100%, 69%);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.8s ease-in-out;
}
.container .card-button .btn2:hover {
  background-color: hsl(234, 90%, 74%);
}

.container-mac h2 {
  text-align: center;
  color: hsl(210, 10%, 33%);
  margin-top: 60px;
}
.container-mac p {
  text-align: center;
  margin: auto;
}
.container-mac img {
  width: 350px;
  height: 280px;
}
.container-mac .container-info {
  display: flex;
  gap: 80px;
  margin: 50px 50px;
}
.container-mac .container-info h4 {
  color: hsl(210, 10%, 33%);
}
.container-mac .container-info p {
  width: 300px;
  text-align: left;
}

.card-devices p {
  margin-bottom: 60px;
}
.card-devices img {
  width: 500px;
  height: 300px;
  padding-left: 170px;
}

.box-container {
  display: flex;
  gap: 50px;
}

.boxers-card,
.boxers-card2,
.boxers-card3 {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.boxers-card img,
.boxers-card2 img,
.boxers-card3 img {
  width: 50px;
  height: 38px;
  margin-right: auto;
  margin-left: auto;
}
.boxers-card p,
.boxers-card2 p,
.boxers-card3 p {
  margin-bottom: 40px;
}
.boxers-card h5,
.boxers-card2 h5,
.boxers-card3 h5 {
  text-align: center;
  font-size: 18px;
  color: hsl(210, 10%, 33%);
  margin-top: 5px;
}
.boxers-card .text1,
.boxers-card2 .text1,
.boxers-card3 .text1 {
  width: 290px;
  margin-top: -10px;
  margin-bottom: 90px;
  text-align: center;
}

.cards-images {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.cards-images img {
  width: 120px;
  height: 40px;
  margin-bottom: 65px;
}

.container-clipboard h2 {
  color: hsl(210, 10%, 33%);
  text-align: center;
  margin: 45px 45px;
}
.container-clipboard .card-button {
  display: flex;
  justify-content: center;
}

.card-footer {
  display: flex;
  align-items: flex-end;
  background-color: rgb(240, 237, 237);
  width: 98.8vw;
  height: 150px;
  position: relative;
  top: 50px;
}
.card-footer img {
  width: 50px;
  height: 50px;
  padding: 40px;
  margin-left: auto;
}
.card-footer .box-info {
  display: flex;
  gap: 50px;
  margin-bottom: 30px;
  margin-left: 75px;
}
.card-footer .box-info .box-1 {
  display: flex;
  flex-direction: column;
}
.card-footer .box-info .box-1 span {
  text-align: left;
  padding: 5px;
  color: hsl(210, 10%, 33%);
  cursor: pointer;
}
.card-footer .box-info .box-1 span:hover {
  color: hsl(171, 66%, 44%);
}
.card-footer .box-info .box-2 {
  display: flex;
  flex-direction: column;
}
.card-footer .box-info .box-2 span {
  text-align: left;
  padding: 5px;
  color: hsl(210, 10%, 33%);
  cursor: pointer;
}
.card-footer .box-info .box-2 span:hover {
  color: hsl(171, 66%, 44%);
}
.card-footer .box-info .box-3 {
  display: flex;
  flex-direction: column;
}
.card-footer .box-info .box-3 span {
  text-align: left;
  padding: 5px;
  color: hsl(210, 10%, 33%);
  cursor: pointer;
}
.card-footer .box-info .box-3 span:hover {
  color: hsl(171, 66%, 44%);
}
.card-footer .card-logos {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  cursor: pointer;
}
.card-footer .card-logos img {
  width: 25px;
  height: 25px;
  padding: 12px;
}/*# sourceMappingURL=style.css.map */