 @import './colors';


 html {
   font-family: 'Bai Jamjuree', sans-serif;
   background-image: url(../images/bg-header-desktop.png);
   background-repeat: no-repeat;
 }

 .container {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 800px;
   margin: auto;
   padding: 20px 40px;

   img {
     width: 80px;
     height: 80px;
     padding: 20px 20px;
   }

   h1 {
     color: $blackgray-color;
   }

   p {
     color: $gray-color;
     width: 580px;
     text-align: center;
     margin-top: -8px;
   }

   .card-button {
     display: flex;
     gap: 25px;
     margin-top: 25px;

     .btn1 {
       width: 200px;
       height: 40px;
       text-align: center;
       border-radius: 20px;
       border: none;
       background-color: $green-color;
       color: $whitte-color;
       font-weight: bold;
       cursor: pointer;
       transition: 0.8s ease-in-out;

       &:hover {
        background-color: hsl(171, 91%, 63%);
       }
     }

     .btn2 {
       width: 200px;
       height: 40px;
       text-align: center;
       border-radius: 20px;
       border: none;
       background-color: $blueviolet-color;
       color: $whitte-color;
       font-weight: bold;
       cursor: pointer;
       transition: 0.8s ease-in-out;

       &:hover {
        background-color: hsl(234, 90%, 74%);
       }
     }
   }

 }

 .container-mac {
   h2 {
     text-align: center;
     color: $blackgray-color;
     margin-top: 60px;
   }

   p {
     text-align: center;
     margin: auto;
   }

   img {
     width: 350px;
     height: 280px;
   }

   .container-info {
     display: flex;
     gap: 80px;
     margin: 50px 50px;

     h4 {
       color: $blackgray-color;
     }

     p {
       width: 300px;
       text-align: left;
     }
   }
 }

 .card-devices {
   p {
     margin-bottom: 60px;
   }

   img {
     width: 500px;
     height: 300px;
     padding-left: 170px;
   }
 }

 .box-container {
   display: flex;
   gap: 50px;
 }

 .boxers-card,
 .boxers-card2,
 .boxers-card3 {
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;

   img {
     width: 50px;
     height: 38px;
     margin-right: auto;
     margin-left: auto;
   }

   p {
     margin-bottom: 40px;
   }

   h5 {
     text-align: center;
     font-size: 18px;
     color: $blackgray-color;
     margin-top: 5px;
   }

   .text1 {
     width: 290px;
     margin-top: -10px;
     margin-bottom: 90px;
     text-align: center;
   }
 }

 .cards-images {
   display: flex;
   justify-content: center;
   gap: 30px;

   img {
     width: 120px;
     height: 40px;
     margin-bottom: 65px;
   }
 }

 .container-clipboard {
   h2 {
     color: $blackgray-color;
     text-align: center;
     margin: 45px 45px;
   }

   .card-button {
     display: flex;
     justify-content: center;
   }
 }

 .card-footer {
   display: flex;
   align-items: flex-end;
   background-color: rgb(240, 237, 237);
   width: 98.8vw;
   height: 150px;
   position: relative;
   top: 50px;

   img {
     width: 50px;
     height: 50px;
     padding: 40px;
     margin-left: auto;
   }

   .box-info {
     display: flex;
     gap: 50px;
     margin-bottom: 30px;
     margin-left: 75px;

     .box-1 {
       display: flex;
       flex-direction: column;

       span {
         text-align: left;
         padding: 5px;
         color: $blackgray-color;
         cursor: pointer;

         &:hover {
          color: $green-color;
         }
       }
     }

     .box-2 {
       display: flex;
       flex-direction: column;

       span {
         text-align: left;
         padding: 5px;
         color: $blackgray-color;
         cursor: pointer;

         &:hover {
          color: $green-color;
         }
       }
     }

     .box-3 {
       display: flex;
       flex-direction: column;

       span {
         text-align: left;
         padding: 5px;
         color: $blackgray-color;
         cursor: pointer;

         &:hover {
          color: $green-color;
         }
       }
     }
   }

   .card-logos {
    display: flex;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    gap: 25px;
    margin-top: auto;
    margin-bottom: auto;
    
    .fa-brands {
      font-size: 28px;
      color: $blackgray-color;
      transition: 0.6s ease-in-out;
      
      &:hover {
        filter: hue-rotate(10deg);
        color: $green-color
      }
    }
  }  
}


@media only screen and (max-width: 400px) {
  .container {
    width: 80%;

    .card-head {
       display: flex;
       flex-direction: column;
       align-items: center;
      img {
        width: 100px;
        height: 98px;
        
      }
      h1 {
        width: 250px;
        text-align: center;
        font-size: 24px;
        margin-bottom: 30px;
        font-weight: bolder;
      }
      p {
        width: 310px;
        line-height: 25px;
      }
    }

    


    .card-button {
      flex-direction: column;
      margin-top: -10px;

      .btn1, .btn2 {
        width: 320px;
        font-size: 16px;
      }
    }
    
     .container-mac {
       h2 {
        margin-top: 100px;
        margin-right: auto;
        margin-left: auto;
        width: 280px;
       }
       p {
        line-height: 26px;
        text-align: center;
        width: 310px;
      }
    }
    
     .container-info {
        flex-direction: column;
       
      img {
        margin-right: auto;
        margin-left: auto;
        width: 280px;
        height: 215px;
      }
  
      .card-info {
        justify-content: center;
        h4 {
          text-align: center;
          font-size: 22px;
          margin-bottom: 8px;
        }
        p {
          font-size: 15px;
          text-align: center;
        }  
      }
    } 

    .card-devices {
      p {
        width: 320px;
      }
      
       img {
        width: 300px;
        height: 210px;
      }
    }

    p {
      width: 250px;
      margin-bottom: 60px;
    }


    .box-container {
      flex-direction: column;

      .boxers-card {
        margin-top: -1em;
        img {
          width: 45px;
          height: 35px;
        } 

        h5 {
          font-size: 24px;
        }

        .text1 {
          text-align: center;
        }
      }
      
      .boxers-card2 {
        margin-top: -5em;
        img {
          width: 45px;
          height: 35px;
        } 

        h5 {
          font-size: 24px;
        }

        .text1 {
          text-align: center;
        }
      } 
  
      .boxers-card3 {
        margin-top: -5em;
        img {
          width: 45px;
          height: 35px;
        } 

        h5 {
          font-size: 24px;
        }

        .text1 {
          text-align: center;
        }
      } 
    }


      .cards-images {
        flex-direction: column;
        
         
        img {
          margin-top: -4em;
          width: 130px;
          height: 55px;
      }
    }

    .container-clipboard {
        h2 {
          width: 250px;
        }
      p {
        width: 290px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -20px;
      }

      .card-button {
        display: flex;
        align-items: center;

        .btn1, .btn2 {
          width: 320px;
          font-size: 16px;
        }
      }
    }

    
  }
}  


 

